.row.content-info
    .columns.six
        p Сайт "Экзамен пдд" создан для подготовки к сдаче теоретического экзамена в ГИБДД. Готовится можно, как отвечая на билеты, так и по темам, по мере изучения правил дорожного движения. Рекомендуется для закрепления знаний полученных в автошколе.
    .columns.six
        ul.footer-nav
            li Меню:
            li: a(href='/#') Билеты ПДД онлайн
            li: a(href='/#th') Билеты по темам
.row.footer
    .columns.twelve
        p.info-row.gibbd-row
            a.gibbd_logo(href="http://www.gibdd.ru/")
                img(src="http://www.gibdd.ru/images/banners/100x100_1.gif", width="60", height="60",border="0", alt="Официальный сайт ГИБДД МВД России")
            span.gibbd_text На сайте "Экзамен ПДД" используется материалы с www.gibdd.ru
