.social-likes(data-url='http://examen-pdd.ru/', data-title='Подготовка к экзамену по ПДД')
    .mailru(title='Поделиться ссылкой в Моём мире') ММ
    .vkontakte(title='Поделиться ссылкой во Вконтакте') ВК
    .odnoklassniki(title='Поделиться ссылкой в Одноклассниках') Однокл
    .plusone(title='Поделиться ссылкой в Гугл-плюсе') G+