doctype html
// [if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]
// [if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]
// [if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]
// [if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]
// [if gt IE 9]
html.no-js(lang="ru", itemscope)
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title Экзамен ПДД 2014

        include ../modules/meta

        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js')
        script(src='/lib/gumby/gumby.min.js')

        // fonts
        link(href='http://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic', rel='stylesheet', type='text/css')

        link(rel='stylesheet', href='/css/gumby.css')
        link(rel='stylesheet', href='/css/social-likes_birman.css')
        link(rel='stylesheet', href='/css/site.css')
    body
        .row
            .twelve.columns
                include ../modules/mmenu
        #content
            block content
        .row
            .twelve.columns
                include ../modules/footer

        script(src='/lib/social/social-likes.min.js')
        include ../modules/yametrik
